{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2deb1adc578933ba5eae1a0d2ffc18a7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "session",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://tk-jupiter.titankube.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 182547,
            "text": "{\"data\":[{\"id\":1,\"external_flag\":0,\"name\":\"tanium\",\"domain\":\"\",\"display_name\":\"\",\"group_id\":0,\"effective_group_id\":0,\"deleted_flag\":false,\"locked_out\":0,\"creation_time\":\"2001-01-01T00:00:00Z\",\"modification_time\":\"2001-01-01T00:00:00Z\",\"last_login\":\"2001-01-01T00:00:00Z\",\"previous_login\":\"2001-01-01T00:00:00Z\",\"permissions\":[\"sensor_read\"],\"effective_content_set_privileges\":[{\"content_set\":{\"id\":1},\"content_set_privilege_list\":[{\"name\":\"use token\"},{\"name\":\"gateway use api\"}]},{\"content_set\":{\"id\":71},\"content_set_privilege_list\":[{\"name\":\"read plugin\"},{\"name\":\"execute plugin\"}]},{\"content_set\":{\"id\":72},\"content_set_privilege_list\":[{\"name\":\"read sensor\"}]}],\"local_admin_flag\":0,\"metadata\":[],\"content_set_roles\":[{\"id\":13,\"name\":\"API Gateway User\"}],\"roles\":[]},{\"id\":3,\"external_flag\":0,\"name\":\"first.last@example.com\",\"domain\":\"\",\"display_name\":\"\",\"group_id\":0,\"effective_group_id\":0,\"deleted_flag\":false,\"locked_out\":0,\"creation_time\":\"2023-03-28T13:24:28Z\",\"modification_time\":\"2023-03-28T13:24:28Z\",\"last_login\":\"2023-04-13T13:20:13Z\",\"previous_login\":\"2023-04-11T19:20:30Z\",\"mod_user\":{\"id\":2,\"name\":\"admin\",\"domain\":\"\",\"display_name\":\"\"},\"permissions\":[\"sensor_read\"],\"effective_content_set_privileges\":[{\"content_set\":{\"id\":1},\"content_set_privilege_list\":[{\"name\":\"read sensor\"},{\"name\":\"read saved question\"},{\"name\":\"write saved question\"},{\"name\":\"read action\"},{\"name\":\"read own action\"},{\"name\":\"write action\"},{\"name\":\"write action for saved question\"},{\"name\":\"approve action\"},{\"name\":\"read package\"},{\"name\":\[...]
