{
  "log": {
    "_recordingName": "fetch-installed-applications",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fdbbdfee74cfa30ea825bf5980a44092",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "session",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://tk-jupiter-api.titankube.com/plugin/products/gateway/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1124,
            "text": "{\"data\":{\"assetProductEndpoints\":{\"edges\":[{\"node\":{\"computerId\":\"201335192\",\"computerName\":\"tanium-test-host\",\"createdAt\":\"2023-03-29T18:00:02.000Z\",\"id\":1,\"ipAddress\":\"165.232.74.226\",\"manufacturer\":\"DigitalOcean\",\"operatingSystem\":\"Ubuntu 22.10\",\"osPlatform\":\"Linux\",\"serialNumber\":\"348155179\",\"servicePack\":\"\",\"updatedAt\":\"2023-06-04T11:00:03.000Z\",\"userName\":\"root\"},\"cursor\":\"0\"},{\"node\":{\"computerId\":\"4259176631\",\"computerName\":\"debian-s-1vcpu-512mb-10gb-fra1-01\",\"createdAt\":\"2023-04-17T23:00:06.000Z\",\"id\":3,\"ipAddress\":\"206.189.57.83\",\"manufacturer\":null,\"operatingSystem\":\"Debian 11.7\",\"osPlatform\":\"Linux\",\"serialNumber\":\"d5aca30b-9dec-4466-a742-35436e3a0803\",\"servicePack\":\"\",\"updatedAt\":\"2023-06-04T15:00:04.000Z\",\"userName\":\"root\"},\"cursor\":\"1\"},{\"node\":{\"computerId\":\"4264722398\",\"computerName\":\"jhenry-[...]
