{
  "log": {
    "_recordingName": "fetch-applications",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fdbbdfee74cfa30ea825bf5980a44092",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "session",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://tk-jupiter-api.titankube.com/plugin/products/gateway/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2760,
            "text": "{\"data\":{\"assetProducts\":{\"edges\":[{\"node\":{\"vendor\":\"\",\"name\":\"\",\"installation\":{\"installedCount\":1,\"usedCount\":0,\"unusedCount\":0,\"pendingUsage\":null},\"tracking\":{\"state\":\"Cataloged\",\"reportingPeriodDays\":90,\"normalMinutesUsedPerDay\":60,\"highMinutesUsedPerDay\":240,\"baselinePeriodDays\":7},\"usage\":{\"usageNotDetected\":0,\"notInstalled\":0,\"baselining\":0,\"limited\":0,\"normal\":0,\"high\":0},\"versions\":[{\"version\":\"\",\"installs\":1}]},\"cursor\":\"0\"},{\"node\":{\"vendor\":\"\",\"name\":\"CommCenter\",\"installation\":{\"installedCount\":1,\"usedCount\":0,\"unusedCount\":0,\"pendingUsage\":null},\"tracking\":{\"state\":\"Cataloged\",\"reportingPeriodDays\":90,\"normalMinutesUsedPerDay\":60,\"highMinutesUsedPerDay\":240,\"baselinePeriodDays\":7},\"usage\":{\"usageNotDetected\":0,\"notInstalled\":0,\"baselining\":0,\"limited\":0,\"normal\":0,\"high\":0},\"versions\":[{\"version\":\"113\",\"installs\":1}]},\"cursor\":\"1\"},{\"node\":{\"v[...]
